<!-- Add a new genre -->
<%- include('../partials/header')%>
<div class="container-fluid row">
    <div class="col-md-4">
        <h1>Add a new Genre</h1>
        <form action="/genres/new" method="POST">
            <div class="form-group">
                <label>Genre: </label>
                <input class="form-control" type="text" name="name" placeholder="Genre name..">
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>
<%- include('../partials/footer')%>