
<%- include('./partials/header')%>
<div class="container-fluid row">
    <div class="col-md-4">
        <h1>Sign In</h1>
        <form action="/forgot-password" method="POST">
            <div class="form-group">
                <label>Email: </label>
                <input class="form-control" type="email" name="username" placeholder="Enter registered email" required>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>

<%- include('./partials/footer')%>