<%- include('./partials/header')%>
<div class="container-fluid row">
    <div class="col-md-4">
        <h1>Sign In</h1>
        <form action="/signup" method="POST">
            <div class="form-group">
                <label>Name: </label>
                <input class="form-control" type="text" name="name" placeholder="Full Name" required>
            </div>
            <div class="form-group">
                <label>Email: </label>
                <input class="form-control" type="email" name="username" placeholder="Email Id" required>
            </div>
            <div class="form-group ">
                <label>Password: </label>
                <input class="form-control password1" onkeypress="checkPattern()" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group ">
                <label>Confirm Password: </label>
                <input class="form-control password2" onkeypress="checkPassword()" type="password" name="confirm_password" placeholder="Re-enter Password" required>
            </div>
            <!-- <div class="errorMsg invisible"></div> -->
            <div class="form-group">
                <label>Admin Register Password: </label>
                <input class="form-control" type="password" name="secret_password" placeholder="Secret password" required>
            </div>
            <button class="btn btn-success signup" type="submit">Sign Up</button>
        </form>
    </div>
</div>
<!-- <script src="/js/monitorPassword.js"></script> -->

<%- include('./partials/footer')%>