<!-- adding new books, accessible to only admin -->
<%- include('../partials/header')%>
<div class="container-fluid row">
    <div class="col-md-4">
        <h1></h1>
        <form action="/authors/<%= author._id %>/add-book?_method=PUT" method="POST">
            <div class="form-group">
                <label>ISBN: </label>
                <input class="form-control" type="text" name="isbn">
            </div>
            <button class="btn btn-secondary" type="submit">Add this book</button>
            <button class="btn btn-warning"><a href="/authors/<%= author._id %>">Go Back</a></button>
        </form>
    </div>
</div>
<%- include('../partials/footer')%>